/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/public/build/
/public/assets/custom
/var/
/vendor/
/tools/
.phpunit
/tests/*/phpunit.xml
/.web-server-pid
/.idea

http-client.env.json
wsl.sync.sh
/node_modules/
npm-debug.log
yarn-error.log
/phpunit.xml
.phpunit.result.cache
.php-cs-fixer.cache
